<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/21. FOR_EACH_JAVA/src/FOR_EACH_JAVA/Main_for_each.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="FOR_EACH_JAVA.Main_for_each"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="FOR_EACH_JAVA"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="21. FOR_EACH_JAVA"/>
</launchConfiguration>
